@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'JetBrains Mono', monospace;
}

.full-screen-layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    flex-grow: 1;
    margin: 0 auto;
    display: flex;
}

.side-a {
    background-color: #000;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: white;
    font-size: 2em;
    padding: 20px;
}

.side-b {
    background-color: #1a1a1a;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
    padding: 20px;
}

.side-title {
    font-weight: 900;
}

.login-form {
    display: flex;
    background-color: #1a1a1a;
    padding: 40px;
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 60%;
    height: auto;
}

.input-field {
    width: 80%;
    padding: 5px;
    border: none;
    border-radius: 4px;
    font-size: 1.3rem;
    background-color: #333333;
    color: white;
}

.input-field::placeholder {
    color: #bbbbbb;
}

.submit-button {
    width: 50%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #ff6600;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #e65c00;
}

.side-description {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #cccccc;
    text-align: center;
}

.register-button {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #0073e6;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-button:hover {
    background-color: #005bb5;
}

/* --- NOVOS ESTILOS ADICIONADOS PARA O LINK --- */

.forgot-password-container {
    width: 80%; /* Mesma largura dos inputs para alinhar */
    text-align: left; /* Joga o texto para a direita */
    margin-bottom: -5px; /* Ajuste fino para não ficar longe do botão */
    font-size: 0.9rem;
    display: flex;
    justify-content: space-evenly;
}

.forgot-password-link {
    color: #bfff00; /* Cor verde neon que você usou no outro arquivo */
    text-decoration: none;
    font-size: 0.9rem;
    font-family: 'JetBrains Mono', monospace;
    transition: color 0.3s ease;
}

.forgot-password-link:hover {
    color: #ffffff; /* Fica branco ao passar o mouse */
    text-decoration: underline;
}

input, button, select, textarea {
    font-family: 'JetBrains Mono', monospace !important;
}